<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Електронний архів</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <style>
        .container {
          padding-top: 50px;
          padding-right: 30px;
          padding-bottom: 50px;
          padding-left: 50px;
        }
    </style>
</head>
<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Електронний архів</h1>
            <p class="lead text-muted">Святкуйте та діліться своєю культурною спадщиною зі світом, використовуючи нашу платформу, щоб легко зберігати, упорядковувати та демонструвати свої дорогоцінні об’єкти для майбутніх поколінь, щоб вони їх цінували та навчалися.</p>
            <p>
                <a href="/register" class="btn btn-primary my-2">Створити обліковий запис</a>
                <a href="/login" class="btn btn-primary my-2">Увійти в обліковий запис</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h4 class="card-text">Архівування</h4>
                            <p class="card-text">За допомогою нашого універсального сервісу ви можете безпечно зберігати та керувати різноманітними форматами даних, включаючи зображення, відео, текстові документи, 3D-моделі тощо. Незалежно від того, чи хочете ви архівувати культурні артефакти чи керувати даними досліджень, наша платформа допоможе вам.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h4 class="card-text">Пошук</h4>
                            <p class="card-text">Завдяки потужним параметрам фільтрації ви можете сортувати та шукати великі обсяги даних на основі конкретних критеріїв, що полегшує пошук і впорядкування потрібної інформації.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h4 class="card-text">Популяризація</h4>
                            <p class="card-text">Наш сервіс надає можливість ділитися обраними даними з іншими, дозволяючи вам демонструвати та рекламувати свої дослідження ширшій аудиторії. Ви можете вибрати, які записи оприлюднити, і їх зможе переглядати кожен, хто використовує наш Android-додаток.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>